<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/gonzalo.Barrionuevo/Desktop/aliExpressChallenge">
        <classes>
            <class name="com.aliexpress.MobileTest">
                <methods>
                    <include name="validateResponsive"/>
                </methods>
            </class>
            <class name="com.aliexpress.SearchTest">
                <methods>
                    <include name="searchIphone"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>